* {
    color: #000000
}
@font-face {
    src: url(https://anonymousfiles.io/B1QQar8E/)
}
#ingameFPS {
color: #fff700 !important;
}
#pingDisplay {
    color: #ff0000 !important
}
#menuWindow {
    background-color: #000000 !important;
}
.inputGrey2 {
    background-color: #292929 !important;
}
.slider {
    background-color: #272727 !important;
}
input:checked+.slider {
    background-color: #5400cb !important;
}
.sliderM {
    background-color: #272727 !important;
}
.sliderVal {
    color: #6300b9;
    background-color: #252323 !important
}
.setHed {
    background-color: #252323 !important;
}
.settName, .settNameSmall {
color: #0036b7 !important;
}
.slider:before {
background-color: #4a4a4a !important
}